
<h1>
Stuck somewhere? Here are some questions you are probably wondering.
</h1>
<hr>
<div>
<h3> Getting Started</h3>
<ol>
<li><b>How do I get started? <br></b>
	The navigation bar on top helps you look at the schedule in different ways as well as add classes and professors. All of this information is stored on the backhand </li>
<li><b>Will I lose my work if I close the tab? Will I return to the same page? </b>
<br>We would hate for you to lose any work / forget where you were if you got interrupted suddenly and closed your tab. Therefore, we have a cookie system which will always get you to the same page that you left. </li>
<li> <b>Schdeuling for the next semester, do I have to start over?<br></b>
 You don't need to start over if you don't wish to. You can go into the configuration page and delete/ add the classrooms and professors. Move to the calendar/list view and start making changes to the schedule</li>
</div>
<hr>
<div>
	<h3>Calendar View:</h3>
	<ol>
	<li><b>How do I add a class in the Calendar?<br></b>
		In either the calendar view by classroom or by classrooms, double anywhere in the calendar grid to add a class. It will add the class with default values: Professor for Professor Name, Class for Class Name, M/T/W/Th/F for days depending on where you clicked and Time of slot for Time of the class. </li>
	<li><b>How do I change the default values after adding the Class?<br></b>
		To change the values of anything (Professor name, class number, room number, Days, Times) in a class cell just double click inside the cell and then edit. After you are satisfied with the change just click Enter to save and view your changes. </li>
	<li><b>I made some change to a class and it disappear. I need to change something else too. I made the change by mistake. What do I do?<br></b>
	The class would only disappear if you change the room, time or days of that class. As soon as you make the change, the class would go to the appropriate slot, as it no longer belongs in the same slot. If you remember the change you can go there and make further changes. If you don’t remember the change you can go to the list view, find the entry and make the appropriate changes there. </li>
	<li><b>How do I add a class?<br></b>
		If you want a class to represent in multiple cells, say the class CS170 taught by professor Valerie Summet happens every Monday, Wednesday, Friday in room W201 at 1:00 am. Follow the steps below:<ul>
		<li>Click anywhere inside the grid on calendar view you will see a light blue box with default values appear.</li>
		<li>Double click the box to enter in the edit mode of the box</li>
		<li>Change professor to Valerie Summet, Class to CS170</li>
		<li>Change the time to 1:00pm</li>
		<li>Change the days to MWF (With or without space)</li></ul></li>
	<li><b>What do I type for multiple day class?<ul></b>
		<li>To represent different days of the week type </li>
		<li>M  or Monday for Monday </li>
		<li>T  or Tuesday  for Tuesday</li>
		<li>W or Wednesday for Wednesday</li>
		<li>Th or Thursday for Thursday</li>
		<li>F or Friday for Friday</li></ul>
		You can type a combination of these without space to represent multiple days. For example, you can type, M Thursday or MTh for Monday and Thursday classes. </li>
	</ol>
	</div>
<hr>
<div>
	<h3>List View:</h3>
<ol>
	<li><b>How do I edit the item in the list?</b><br>
		Double click on the item you wish to edit. Make the necessary changes. Then click on the check button if you want to save the changes and the “X” button if you want to delete the changes.</li>
	<li><b>How do I add a row?</b><br>
		You can add a row by clicking the “+ Add” sign at the bottom of the table.</li>
	<li>How do I delete a row?<br>To delete a row, click on the “X” button on the right corner of the row.</li>
	<li><b>Can I sort the list?</b><br>
		Yes, you can sort the list based on any of the columns. 
		To the rows in ascending order based on a column click on the heading of that column. 
		To the rows in descending order based on a column click twice on the heading of that column</li>
	<li><b>How can I download the file?</b><br>
		The export button next to the list view title allows you to download your list which you can open in an excel file</li></ol>
</div>
<hr>
<h3>Configuration Tab</h3>
<ol>
	<li><b>How and when do I add a Professor?<br></b>
		To add a professor enter their name and press Add. You only need to do this once you have a new professor. The professor will then be visible in autocompletes in teh other tabs</li>
	<li><b>How and when do I add a Classroom?<br> </b>
		Everytime you have acess to a new classroom to schedule classes you can add them here. You only need to add it once and it'll be available on all the other pages.</li>
	<li><b>How do I delete something?<br> </b>
		To delete a professor or classroom simply click the remove button next to them. Once you delete a professor or classroom any classes assigned to them will change to their default values.</li>
	<li><b>If I mistyped a name, do I remove and re-add it?<br> </b>
		You can certainly do it that way but you could also double click on the name of the professor or the class code and edit it in place. Once you have edited it click on the check to save to edit or the "X" to delete the edit.</li>
</ol>
